html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  background: lightskyblue;
  box-sizing: border-box;
}

.trxapp {
  max-width: 800px;
  margin: auto;
}

.heading-pos {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}

.topHead {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

/*form*/
input[type="text"],
input[type="submit"],
button,
select {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.trxDataType,
.trxDataDesc,
.trxDataValue {
  background-color: white;
  margin: 0 2px 2px 0;
}

.c-cb {
  display: flex;
  margin-right: 2px;
}

.todo-cancel {
  margin: 0 2px 2px 0;
  padding: 0;
  border: 1;
  height: 26px;
}

.inputType,
.trxDataType {
  width: 100px;
  text-align: center;
  height: 26px;
  margin: 0 2px 2px 0;
  padding: 0;
  border: 0;
}

.inputDesc,
.trxDataDesc,
.edit-cell.inputDesc {
  min-width: 200px;
  margin: 0 2px 2px 0;
  padding: 0;
  border: 0;
  height: 26px;
}

.inputValue,
.trxDataValue,
.edit-cell.inputValue {
  width: 80px;
  text-align: right;
  padding: 0;
  border: 0;
  height: 26px;
}

fieldset {
  box-sizing: border-box;
  background-color: lightgreen;
  max-width: 800px;
  position: relative;
  border-radius: 10px;
}

h2 {
  max-width: 800px;
}
.inputForm {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  max-width: 800px;
}

.stack-small {
  display: flex;
  justify-content: center;
}

footer {
  font-size: 0.8em;
}

.edit-cell {
  background-color: lightyellow;
}

/*loading animation*/
.loader {
  margin: auto;
  align-items: center;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
