html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background: lightskyblue;
  box-sizing: border-box;
}

.heading-pos {
  max-width: 800px;
  display:flex;
  justify-content: space-between;
}

.topHead {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
 

}

/*form*/
input[type="text"],
input[type="submit"],
button,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.trxDataType,
.trxDataDesc,
.trxDataValue {
  background-color: white;
  border: 1px solid black;
  margin-right: 2px;
}

.c-cb {
  display: flex;
  margin-right: 2px;
}

.inputType,
.trxDataType {
  width: 80px;
}

.inputDesc,
.trxDataDesc {
  min-width: 200px;
}

.inputValue,
.trxDataValue {
  min-width: 80px;
  text-align: right;
}


fieldset {
  box-sizing: border-box;
  background-color: lightgreen;
  max-width: 800px;
  position: relative;
}

h2 {
  max-width: 800px;
}
.inputForm {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  max-width: 800px;
}

.stack-small {
  display: flex;
  justify-content: center;
}

footer {
  font-size: 0.8em;
}

.edit-cell {
  background-color: lightyellow;
}
